@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap');

html {
    scroll-behavior: smooth;
}
body{ font-family:'Noto Sans KR',sans-serif; color:#2b2b2b;}
#wrap{width:100%;}

/* 태블릿용 (768px 이상 1199px 이하) */
@media (max-width: 1199px) {
  header > .container > nav > .gnb > li {
    width: 25%;
  }
  #home > .container {
    width: 90%;
    height: auto;
    padding: 100px 0;
  }
  #home > .container > h1 {
    font-size: 80px;
  }
  #aboutme {
    height: auto;
    padding: 60px 0;
  }
  #aboutme > .content1-left,
  #aboutme > .content1-right {
    float: none;
    position: static;
    width: 90%;
    margin: 0 auto;
  }
}

/* 모바일용 (767px 이하) */
@media (max-width: 767px) {
  header {
    height: 50px;
  }
  header > .container > nav {
    flex-direction: column;
  }
  header > .container > nav > .gnb > li {
    width: 100%;
  }
  #home > .container > h1 {
    font-size: 50px;
  }
  #contact > h2 {
    font-size: 40px;
  }
  #contact > .container > .link {
    flex-direction: column;
  }
  #contact > .container > .link > a {
    width: 100% !important;
    margin: 5px 0 !important;
  }
}

/* header */
header {position: fixed;top: 0;left: 0;width: 100%;height: 60px;z-index: 100;background-color: rgba(255, 255, 255, 0.5);}

header>.container {width: 90%; max-width:1200px; margin:0 auto;}

header>.container>nav {height: 60px;display: flex;align-items: center;justify-content: space-between;}

header>.container>nav>.gnb>li{float:left; width:200px;}
header>.container>nav>.gnb>li>a{display:block; height:60px; line-height:60px; font-size:20px; font-weight:700; text-align:center; transition:all 0.4s;}
header>.container>nav>.gnb>li:hover>a,header>.container>nav>.gnb>li>a:focus,header>.container>nav>.gnb>li.on>a{color:#425a73; }

/* section - home */
#home{width:100%; height:960px; background-image:url(../images/main_banner.jpg); background-repeat:no-repeat; background-size:cover; background-position:center center;}
#home>.container{position:relative; width:1200px; height:960px; margin:0 auto;}
#home>.container>p{position:absolute; top:120px; font-weight:300; letter-spacing:2px;}
#home>.container>p:nth-child(1){position:absolute; top:86px; left:60px;}
#home>.container>p:nth-child(2){right:60px; transform:rotate(90deg);}
#home>.container>h1{position:absolute; left:60px; bottom:210px; font-weight:700; font-size:135px; color:#425a73; line-height:90%; letter-spacing:-3px;}

/* section - aboutme */
#aboutme{position:relative; width:100%; height:960px;}

#aboutme>.content1-left{float:left; height:960px; }
#aboutme>.content1-left>h2{position:absolute; top:230px; left:50%; margin-left:-530px; z-index:10; font-size:70px; font-weight:500; color:#425a73; letter-spacing:1px;}
#aboutme>.content1-left>a{position:absolute; top:290px; left:50%; margin-left:-540px; z-index:20; display:block; width:358px; height:460px; text-align: justify;}
#aboutme>.content1-left>a>p.img{width:358px; height:430px; text-indent:-9999px; background-size: cover;background-position: center;background-image:url(../images/about_me.jpg);}
#aboutme>.content1-left>a>p.link{width:358px; height:30px; line-height:30px; color:#e46359; font-size:20px; font-weight:700; letter-spacing:2px; }
#aboutme>.content1-left>.about_bg{position:absolute; left:0; bottom:150px; width:700px; height:570px; background-color:rgba(158,213,246,0.3);}

#aboutme>.content1-right{position:absolute; top:290px; right:50%; margin-right:-600px; float:left; width:650px; height:430px;}
#aboutme>.content1-right>.profile{width:650px; height:280px;}
#aboutme>.content1-right>.profile>ul{position:relative; width:650px; height:280px;}
#aboutme>.content1-right>.profile>ul>li{position:absolute; left:0; top:0; width:650px; height:280px; font-size:16px; line-height:2;}
#aboutme>.content1-right>.profile>ul>li:not(:first-child){display:none;}
#aboutme>.content1-right>.profile>button{outline:none; border:none; background:none; width:21px; height:41px; text-indent:-9999px; background-image:url(../images/sprite.png); }
#aboutme>.content1-right>.profile>.prev{position:absolute; top:-42px; right:50%; margin-right:-303px; background-position:0 0;}
#aboutme>.content1-right>.profile>.next{position:absolute; top:-42px; right:50%; margin-right:-335px; background-position:-31px 0;}
#aboutme>.content1-right>.profile>.prev:hover,#aboutme>.content1-right>.profile>.prev.on{background-position:0 -42px;}
#aboutme>.content1-right>.profile>.next:hover,#aboutme>.content1-right>.profile>.next.on{background-position:-31px -42px;}

#aboutme>.content1-right>.tag{position:absolute; bottom:0px; left:0; width:650px; height:100px;} 
#aboutme>.content1-right>.tag>ul>li{float:left; height:40px; line-height:26px; margin-left:15px; margin-bottom:10px;}
#aboutme>.content1-right>.tag>ul>li:first-child,#aboutme>.content1-right>.tag>ul>li:nth-child(6){margin-left:0;}
#aboutme>.content1-right>.tag>ul>li>a{display:block; padding:7px; font-size:23px; font-weight:700; letter-spacing:1px; transition:all 0.4s;}
#aboutme>.content1-right>.tag>ul>li:hover>a,#aboutme>.content1-right>.tag>ul>li>a:focus,#aboutme>.content1-right>.tag>ul>li.on>a
{background-color:#F25F5C; font-size:22px; color:#fff; border-radius:18px;}
#aboutme>.content1-right>.tag>ul>li:hover>a:active{background-color:#bbdcfb;}

/* section - contact */
#contact{position:relative; overflow:hidden; width:100%; height:860px;}
#contact>h2{position:absolute; right:50%; top:220px; margin-right:-520px; margin-bottom:20px; font-size:70px; font-weight:500; color:#425a73; letter-spacing:1px; text-align:center;}
#contact>.contact_img{position:absolute; right:50%; top:300px; margin-right:-985px; width:800px; height:375px; background-size: cover;background-position: center;background-image:url(../images/contact_banner.jpg);}

#contact>.container{position:absolute; top:50%; left:50%; margin-left:-400px; margin-top:-90px; text-align:center;}
#contact>.container>p{font-size:20px; line-height:1.8; letter-spacing:1px;}
#contact>.container>p+p:before{content:'/'; display:block; padding:20px 0; font-weight:300; font-size:30px; color:#425a73; opacity:0.3;}
#contact>.container>p+p{margin-bottom:20px; font-size:16px;}
#contact>.container>.link{width:394px; margin:0 auto;}
#contact>.container>.link>a{display:block; float:left; height:40px; line-height:40px; color:#425a73; border:1px solid #425a73; border-radius:5px; transition:all 0.4s;}
#contact>.container>.link>a.fileOpen{width:240px; margin-right:10px;}
#contact>.container>.link>a.git{width:140px;}
#contact>.container>.link>a:hover,#contact>.container>.link>a:focus{color:#fff; background-color:#425a73;}


/* footer */
footer{width:100%; height:100px; background-color:#425a73;}
footer>address{padding-top:30px; font-size:14px; font-weight:300; color:#fff; line-height:1.6; text-align:center;}

